<nav>

</nav>
<article>
  <h1>Distribution of <%= @plot.title %></h1>
  <section>
    <div data-title="<%= @plot.title %>" id="cdf"></div>
  </section>
  <section>
    <textarea id="data"><%= @plot.data %></textarea>
  </section>
</article>
